$active-color: #0266FF;
$normal-color: #9D9DB5;
$background-color: #192140;
$color-variant1: #FFFFFF;
$color-variant2: #F8F9FC;
$color-variant3: #C0BFCF;
$color-highlight: #DCF10D;
$text-black: #10131C;



